<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Ithacartists!</title>
    </head>
    <body>
        <div><a href="/landing">Ithacartists</a></div>
        <div><a href="/artistlist">Artists</a></div>
        <div><a href="/newartist">New Artist</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{  message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
