{% extends 'bootstrap/base.html' %}

    {% block title %}
    {% if title %}{{ title }} - Ithacartists{% else %}Welcome to Ithacartists!{% endif %}
{% endblock %}
    {% block navbar %}
    <nav class="navbar navbar-default">
        <li class="nav-item">
        <a class="nav-link" href="/landing">Ithacartists</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/artistlist">Artists</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/newartist">New Artist</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/newevent">New Event</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/newvenue">New Venue</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
        </li>
        {% endblock %}


    </nav>
    <body>
        {% block content %}
            <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
                {% block app_content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
