{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

    {% block title %}
    {% if title %}{{ title }} - Ithacartists{% else %}Welcome to Ithacartists!{% endif %}
{% endblock %}
    {% block navbar %}
    <nav class="navbar navbar-default">
        {% if current_user.is_anonymous %}
            <li class="nav-item">
            <a class="nav-link" href="/landing">Zero-Waste Market</a>
            </li>
        <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
        </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="/landing">Zero-Waste Market</a>
            </li>
        <li class="nav-item">
        <a class="nav-link" href="/user/Peter")>Your Page</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/newProduct">New Product</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% endif %}
        {% endblock %}


    </nav>
    <body>
        {% block content %}
            <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
                {% block app_content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
