<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block app_content %}
<head>
    <meta charset="UTF-8">
    <h1>The Zero-Waste Market</h1>
</head>
<body>
<h2>Our Mission</h2>
    <p>Our website will represent a market for misfit fruit, whether it be aesthetically unsuited for the grocery aisle or just surplus.
        Direct connections will be made between buyers and sellers in their local environment. A search system allows customers to
        quickly find the products they’re looking for, while a profile system allows them to easily gauge the reputability of the seller.
</p>
</body>
{% endblock %}
</html>

